*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/
/baidu_speech_ASR_V3_20201116_93b546d_3.4.1/.idea/
/FaceSDKSample_Android/.idea/
/FaceSDKSample_Android1/FaceSDKSample_Android/.idea/
/FaceSDKSample_Android/.idea
/FaceSDKSample_Android/faceplatform-release/build/.transforms/
